:root {
    --primary-color:#007cb1;
    --grey-color: #aaaaaa;
    --light-grey-color: #d2d2d2;
    --input-grey-color: #e0e2e3;
    --dark-grey-color: #d2d3d3;
    --dark-blue-color: #4b627e;
    --dark-orange-color:#db9220;
}

body {
    font-family: sans-serif;
    font-size: .8em;
}

#app {
    display: flex;
    flex-flow: column;
    height: 95vh;
}

#header {
    flex: 0 0 content;
}

#frame {
    flex: 1;
    padding: 2em;
}

#footer {
    flex: 0 0 content;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

button.active {
    font-weight: bold;
}

#loading {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* breadcrumbs */
.breadcrumb {
    font: .8em sans-serif;
    list-style: none;
    user-select: none;
    padding-left: 2em;
}

.breadcrumb li {
    background-color: var(--grey-color);
    font-weight: bold;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.breadcrumb li:before {
    border-top: 1.3em solid transparent;
    border-bottom: 1.3em solid transparent;
    border-left: 1em solid #fff;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1.2em;
    z-index: 1;
}

.breadcrumb li div {
    display: flex;
    height: 2em;
    column-gap: 1em;
    padding: .3em 1em .3em 1.5rem;
    align-items: center;
}
.breadcrumb li div span {
    display: flex;
}
span.breadcrumb-index {
    border: 2px solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.breadcrumb li:not(:last-child):after {
    border-top: 1.3em solid transparent;
    border-bottom: 1.3em solid transparent;
    border-left: 1em solid var(--grey-color);
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -.9em;
    z-index: 1;
}

.breadcrumb li.active {
    background-color: var(--primary-color);
    pointer-events: none;
}

.breadcrumb li.active:after {
    border-left-color: var(--primary-color);
}
/* end of breadcrumbs */
/* buttons */
button {
    cursor: pointer;
}
.button-primary {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: .7em;
}
.button-primary:hover {
    opacity: .8;
}
.button-cancel {
    background-color: white;
    border: 1px solid var(--grey-color);
    color: black;
    padding: .7em;
    min-width: 7em;
}
/* end of buttons */
/* inputs */
.text-input {
    background-color: var(--input-grey-color);
    border: 1px solid var(--input-grey-color);
    outline: none;
    padding: .9em;
    min-width: 17em;
}
.text-input[type="date"] {
    padding: .8em;
}
.form-input-error, .select-input select.form-input-error  {
    border: 1px solid red;
}
.select-input select{
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    background-color: var(--input-grey-color);
    cursor: pointer;
}
.select-input select option {
    color: black;
}
.select-input select:invalid {
    color: grey;
}
.select-input select::-ms-expand {
    display: none;
}

.select-input {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    overflow: hidden;
}
.select-input::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: var(--grey-color);
    color: var(--dark-blue-color);
    pointer-events: none;
}
/* end of inputs */
/* form session */
.form-session-title {
    color: var(--dark-blue-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 0.5em;
    border-bottom: 1px solid var(--light-grey-color);
    padding-bottom: .3em;
}

.form-session-title h4 {
    margin: 0;
}
button.form-session-collapse {
    background: var(--dark-orange-color);
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

button.form-session-collapse svg {
    fill: white;
}
button.form-session-collapse:hover {
    opacity: .7;
}
.form-session-content {
    color: var(--dark-blue-color);
}
.form-session-content label {
    color: black;
}
.form-session-row p{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    column-gap: 1em;
}
.row-direction {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 1em;
}

.row-direction p {
    display: flex;
    flex-direction: column;
    row-gap: .5em;
}
.form-session-row.row-direction p input {
    min-width: auto;
}
.form-session-row.row-direction p button {
    min-height: 3em;
}
.form-hidden {
    display: none!important;
}
/* end of form session */
/* table form */
.form-table {
    width: 100%;
    border-collapse: collapse;
}
.form-table thead {
    background-color: var(--dark-blue-color);
    color: white;
}
.form-table th, .form-table td {
    padding: .4em;
}
.form-table th {
    font-weight: normal;
    border-right: 1px solid white;
}
.form-table tbody {
    background-color: var(--input-grey-color);
    color: black;
}
.form-table tbody td {
    border-right: 1px solid white;
}
.form-table tbody tr:hover  {
    background-color: var(--dark-grey-color);
}
.form-table td.table-action-cell {
    width: 20%;
    text-align: center;
}
.form-table tr.form-table-empty-tr  {
    background-color: white;
    text-align: center;
}
.form-table tfoot {
    background-color: var(--grey-color);
    color: white;
}
.form-table tfoot td .table-control-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.form-table tfoot th select {
    background-color: var(--input-grey-color);
    color: var(--primary-color);
    outline: none;
    padding: 0 .5em 0 .5em;
}
.table-control {
    background: transparent;
    border: none;
}
.table-control:hover {
    opacity: .5;
}
.table-control svg {
    fill: white;
}
.table-control-current-page {
    background-color: white;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0.3em 0.5em 0.3em 0.5em;
}
.table-control-pagination-info {
    border-left: 1px solid var(--dark-blue-color);
    padding-left: 0.5em;
}

.table-action-button {
    border: none;
    background: transparent;
    fill: var(--dark-orange-color);
}
.table-action-button:hover {
    opacity: .7;
}
/* end of table form */
/* modal */
dialog.form-modal {
    border: none;
    box-shadow: 0 0 10px rgb(49, 49, 49);
    padding: 0;
    top: 5em;
    z-index: 999;
    min-width: 30em;
}
dialog.form-modal .modal-title {
    background-color: var(--input-grey-color);
    margin: 0;
    padding: .5em;
    display: flex;
    justify-content: space-between;
}
dialog.form-modal .modal-title h2 {
    padding: 0;
    margin: 0;
    color: black;
}
dialog.form-modal .modal-title button {
    background: transparent;
    border: none;
}
dialog.form-modal .modal-title button:hover {
    opacity: .5;
}
dialog.form-modal .modal-content {
    padding: 1em;
    max-height: 50vh;
    overflow-y: scroll;
}
dialog.form-modal .modal-content-row {
    color: var(--dark-blue-color);
}
dialog.form-modal .modal-content-row p input {
    min-width: 93%;
}
dialog.form-modal .modal-content-row .select-input {
    width: 97%;
}
dialog.form-modal p.modal-checkbox-field span {
    display: flex;
}

dialog.form-modal p.modal-checkbox-field {
    display: flex;
    column-gap: 2em;
}
dialog.form-modal .modal-footer {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
dialog.form-modal .row-direction {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    column-gap: 1em;
    margin-top: 1em;
}

dialog.form-modal .row-direction div {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: .5em;
    min-height: 3em;
}
dialog.form-modal .modal-content-row textarea.text-input {
    min-width: 93%;
}
.modal-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000091;
    z-index: 99;
}
/* end of modal */
/* Box */
.box-item {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    column-gap: 1em;
    color: black;
}

.box-container {
    border: 1px solid grey;
    padding: .5em;
    margin: .5em;
}
.box-item .row-direction p {
    color: var(--dark-blue-color);
}
.description {
    margin: .5em;
    color: black;
    margin-top: 1em;
    margin-bottom: 2.5em;
}
.description h2 {
    margin: 0;
}
.description p {
    margin-top: .5em;
}
/* end of box */
/* input radio */
.radio-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 .5em 0 .5em;
    margin-left: .5em;
  }
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
  }
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .radio-container input:checked ~ .checkmark {
    background-color: black;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  .radio-container .checkmark:after {
       top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: grey;
  }
/* end of custom input radio */ 