<!-- <div id="header">

    <button type="button" id="documentos" title="Voltar">Documentos</button>
    <button type="button" id="dados-gerais" title="Voltar">Dados Gerais</button>
    <button type="button" id="transportes" title="Voltar">Transportes</button>
    <button type="button" id="conteineres" title="Voltar">Conteineres</button>
    <button type="button" id="solicitacoes" title="Voltar">Solicitações</button>
    <button type="button" id="requisitos" title="Voltar">Requisitos</button>

</div> -->



<ul class="breadcrumb" id="header">
    <li id="documentos">
        <div>
            <span class="breadcrumb-index">1</span>
            <span class="breadcrumb-title">Documentos</span>
        </div>
    </li>
    <li id="dados-gerais">
       <div>
            <span class="breadcrumb-index">2</span>
            <span class="breadcrumb-title">Dados Gerais</span>
       </div>
    </li>
    <li id="transportes">
        <div>
            <span class="breadcrumb-index">3</span>
            <span class="breadcrumb-title">Transportes</span>
        </div>
    </li>
    <li id="conteineres">
        <div>
            <span class="breadcrumb-index">4</span>
            <span class="breadcrumb-title">Conteineres</span>
        </div>
    </li>
    <li id="solicitacoes">
       <div>
            <span class="breadcrumb-index">5</span>
            <span class="breadcrumb-title">Solicitações</span>
       </div>
    </li>
    <li id="requisitos">
       <div>
            <span class="breadcrumb-index">6</span>
            <span class="breadcrumb-title">Requisitos</span>
       </div>
    </li>
  </ul>

<div id="frame">
    <div id="documentos"></div>
</div>

<div id="footer">

    <button class="button-cancel" type="button" id="voltar" title="Voltar">Voltar</button>
    <button class="button-primary" type="button" id="proximo" title="Próximo">Salvar e avançar</button>

</div>


